.createrev-block {
    height: 100vh;
    width: 100%;
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
}

.createrev {
    margin: 20px 0px;
    width: 75%;
    height: auto;
    border-radius: 9px;
    background-color: aliceblue;
    display: flex;
}

.livepage {
    height: 100%;
    width: 40%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage {
    width: 86%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.img-block {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-block {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
}

.mess-block {
    margin: 10px 0px;
    display: flex;
    width: 70%;
    justify-self: center;
    justify-content: center;
}

.ulist {
    /* border: 1px solid black; */
    margin: 10px 0px 50px 15px;
}

.ulist li {
    margin: 0px 0px 5px 0px;
    overflow-wrap: anywhere;
}

.rev-btn {
    display: flex;
    flex-direction: column;
}

.rev-btn div {
    padding: 5px 10px;
    margin: 5px 0px;
    background-color: blue;
    color: aliceblue;
    font: 1em sans-serif;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.costom {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.createspace {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.spacename {
    width: 100%;
    display: flex;
    justify-content: center;
}

.spacename-in {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.spacename-in input {
    padding: 5px;
    font: 1em sans-serif;
    margin: 5px 0px 0px 0px;
    outline-color: blue;
    border: 1px solid gray;
    border-radius: 4px;
}

.spacelogo {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.spacelogo-in {
    width: 80%;
}

#logo {
    display: none;
}

.logodiv {
    width: max-content;
    padding: 4px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    font: 0.8em sans-serif;
}

.headertitle {
    width: 100%;
    display: flex;
    justify-content: center;
}

.headertitle-in {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 0px;
}

.headertitle-in input {
    margin: 5px 0px;
    padding: 5px;
    font: 1em sans-serif;
    border: 1px solid gray;
    border-radius: 4px;
    outline-color: blue;
}

.cmess {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.cmess-in {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.cmess-in textarea {
    margin: 5px 0px 0px 0px;
    max-width: 100%;
    min-width: 100%;
}

.que {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

.que-in {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.Question {
    list-style: none;
    display: flex;
    align-items: center;
}

.Question input {
    width: 100%;
    font: 1.1em sans-serif;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px 0px;
}

.addlist {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addlist button {
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
    margin:15px 0px;
    background-color: blue;
    font: 1em sans-serif;
    font-weight: 600;
    color: aliceblue;
}

.cinfo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

.cinfo-in {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.opti {
    margin: 10px;
}

.createspacebtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.createspacebtn button{
    font-weight: 700;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    font: 1em sans-serif;
    color: aliceblue;
}

.optio {
    width: 100%;
    display: flex;
    justify-content: center;
}

.optio-in {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.optio-in input {
    padding: 5px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    font: 1em sans-serif;
    outline: none;
    margin: 3px 0px 0px 0px;
}

#videorev {
    display: none;
}

#photorev {
    display: none;
}
