.dsb-main {
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 16, 16);
    color: aliceblue;
}

.space-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spacebtn {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spacespace {
    width: 90%;
    height: 300px;
    justify-self: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
}

.spacebtn button{
    font: 1em sans-serif;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
    color: aliceblue;
    font-weight: 700;
    background-color: blueviolet;  
}